{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>Le rayon demandé</h1>
{% endblock %}
{% block contenu %}
    <a href="{% url 'rayons' %}">Retour à la liste des rayons</a>
    <h2>{{ ray.nomRayon }}</h2>
    <ul>
        <li>Id du rayon : {{ray.idRayon }} </li>
    </ul>





    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>Ce rayon contient <strong> {{total_nb_produit}} </strong> produit(s) pour un total de
            <strong>{{total_rayon|floatformat:2 }} € </strong></h4>
        </div>
        <div class="card-body">
            <div class="row">
            {% if prdts_dt %}
                {% for data in prdts_dt %}
                <div class="col-sm-3">
                    <div class="card mb-2 text-center">
                        <div class="card-header bg-info text-white">
                            <h5 class="card-title">{{ data.produit.intituleProd }}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Prix unitaire : {{data.prix_unitaire }} € </li>
                                <li>Quantité : {{data.qte }} </li>
                                <li>Total : {{ data.total_produit}} €</li>
                            </ul>
                            <a href="{% url 'dtl_prdt' data.produit.refProd %}" class="btn btn-primary mt-2">Détails</a>
                            
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'cntnr-crt' ray.idRayon %}" class="btn btn-success">Ajouter un produit </a>
            {% else %}
                <p class="text-muted">Aucun produit trouvé pour cette catégorie.</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}